<?xml version="1.0" encoding="utf-8"?>
<manifest package="doctorclient.slinph.com.doctor_client"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.ForgetPWActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activities.AdviceActivity">
        </activity>
        <activity android:name=".Activities.SettingActivity">
        </activity>
        <activity android:name=".Activities.WalletActivity">
        </activity>
        <activity android:name=".Activities.PersonalCodeActivity">
        </activity>
        <activity
            android:name=".Activities.VerificationActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".Activities.AppShareActivity"/>
        <activity android:name=".Activities.BindBankCardActivity">
        </activity>
        <activity android:name=".Activities.WithdrawalsRecordActivity">
        </activity>
        <activity android:name=".Activities.PatientDetailActivity">
        </activity>
        <activity
            android:name=".Activities.DiagnosisActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".Activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>